=# Compiled Object files, Static and Dynamic libs (Shared Objects)
 *.o
 *.a
 *.so

 # Folders
 _obj
 _test

 # Architecture specific extensions/prefixes
 *.[568vq]
 [568vq].out

 *.cgo1.go
 *.cgo2.c
 _cgo_defun.c
 _cgo_gotypes.go
 _cgo_export.*

 _testmain.go

 # Binary
 ecsenv

 # Dependency directories
 vendor/

 # IDE files (e.g., VSCode, IntelliJ)
 .vscode/
 .idea/

 # Log files
 *.log

 # Temporary files
 *.tmp

 # Backup files
 *~

 # Configuration
 *.env

 # Other
 .DS_Store
